<div class="add-user-button-wrapper">
  <app-button (toParentClickHandler)="goToAddUserPage()">Add new user</app-button>
</div>

<table *ngIf="users">
  <tr>
    <th *ngFor="let title of tableHeadTitles">{{title}}</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name | titlecase}}</td>
    <td>{{user.surname | titlecase}}</td>
    <td>{{user.country | uppercase}}</td>
    <td>
      <div class="user-list-icon-cell">
        <fa-icon [icon]="faEdit" (click)="goToEditUserPage(user.id)" class="list-item-icon list-item-icon--edit"></fa-icon>
        <fa-icon [icon]="faTrash" (click)="deleteUser(user.id)" class="list-item-icon list-item-icon--delete"></fa-icon>
      </div>
    </td>
  </tr>
</table>
